<%- include("partials/header", { title: "Home" }) %>

<section class="home main-content" id="home">
    <div class="content">
        <h3>JewelFind</h3>
        <span>One stop for all your jewelry queries</span>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
            Numquam cum nam facere? Iusto dicta, nisi veniam molestias voluptas perferendis possimus minus aliquid architecto
            consequatur, provident sed magni odit labore vel.</p>
           <a href="/search/materials" class="btn">Search Now By Material</a>
           <a href="/search/vendors" class="btn">Search Now By Vendors</a>
    </div>
</section>



<%- include("partials/footer") %>